<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- SimpleServlet -->
    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>com.eaz.servlets.SimpleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/SimpleServlet</url-pattern>
    </servlet-mapping>
    <!-- SimpleServletShowProperties -->
    <servlet>
        <servlet-name>SimpleServletShowProperties</servlet-name>
        <servlet-class>com.eaz.servlets.SimpleServletShowProperties</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleServletShowProperties</servlet-name>
        <url-pattern>/SimpleServletShowProperties</url-pattern>
    </servlet-mapping>
    <!-- CookieServlet -->
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>com.eaz.servlets.cookie.CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>
    <!-- SessionServlet -->
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>com.eaz.servlets.session.SessionServlet</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>
    <!-- SessionServlet -->
    <servlet>
        <servlet-name>StockMarketServlet</servlet-name>
        <servlet-class>com.eaz.servlets.session.stockmarket.StockMarketServlet</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>StockMarketServlet</servlet-name>
        <url-pattern>/StockMarketServlet</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
